<div class="container">
  <% @songs.each do |song| %>
    <div class="song">
      <h3>
      <form method="post" action="/songs/upvote">
        <strong><%= song.title %></strong> by <a href="/songs/<%= song.id %>" name="song.id"><%= song.author %></a>
        <input type="hidden" name="song_id" value="<%= song.id %>">
        <input class="btn btn-default" type="submit" value="Upvote!">
      </form>
      </h3>
      <h6>Total upvotes: <%= song.upvotes.count %> </h6>
      <p><a href="<%= song.url %>"><%= song.url %></a></p>
      <h6>Posted: <%= song.created_at %> by <%= song.user.username %>
      </h6>
      
      <% if song.reviews.length > 0 %>  
        <div>
          <h4>Latest song review</h4>
          <% post = song.reviews.last %>
          <p>"<%= post.content %>" by <%= post.user.username %> at <%= post.created_at %></p>
        </div>
      <% end %>
      
      <% if current_user.nil? %>
        <% already_reviewed = [] %>
      <% else %>
        <% already_reviewed = song.reviews.where(user_id: current_user.id) %>
      <% end %>

      <% if already_reviewed.length > 0 %>
        <h4>You have already reviewed this song.</h4>
        <p> Your review: <em><%= already_reviewed.first.content %></em></p>
        <form method="post" action="/songs/review/delete">
          <input type="hidden" name ="id" value="<%= already_reviewed.first.id %>">
          <input class="btn btn-default" type="submit" value="Delete review?">
        </form>

      <% else %>

        <form method="post" action="/songs/review">
          <div class="form-group">
            <input type="hidden" name="song_id" value="<%= song.id %>">
            <input type="text"class="form-control" name="content" placeholder="Write your own review">
          </div>
          <input class="btn btn-default" type="submit" value="Submit review">
        </form>
      <% end %>
    </div>
  <% end %>

</div>
