<div class="container">
  <% if !@mysongs.nil? %>
    <h4>All songs posted by: <%= current_user.username %> </h4>
    <% @mysongs.each do |song| %>
      <div>
        <h4><%= song.title %></h4>
        <h4><a href="<%= song.url %>"><%= song.url %></a></h4>
        <h6>Posted: <%= song.created_at %></h6>
      </div>
    <% end %>
  <% else %>
    <h2>You have not posted any songs</h2>
  <% end %>
</div>