
<div class="container">
  <h1>Author: <%= @song.author %></h1>

  <h6><%= @song.created_at %></h6>
  
  <h4>
    <%= @song.title %> 
  </h4>

   
  <% if !@song.url.nil? %>
    <p><a href="<%= @song.url %>"><%= @song.url %></a></p>
  <% end %>


  <div class="container">
    <% if !@songs_from_user.empty? %>
      <h4>Other songs from this artist</h4>
        <% @songs_from_user.each do |song| %>
          <p><%= song.title %></p>
          <% if !song.url.nil? %>
            <p><a href="<%= song.url %>"><%= song.url %></a></p>
          <% end %>
          <h6>Posted: <%= song.created_at %></h6>
        <% end %>
    <% end %>
  </div>

<div class="container">
  <hr/>
  <a href="/songs">Back to All Songs</a>
</div>