<div class="container">
  
  <h6>Posted: <%= @song.created_at %>
    <% if !@song.user_id.nil? %>
      <% user = User.find(@song.user_id) %>
      by <%= user.username %>
    <% end %>
  </h6>

  <h3>Artist: <%= @song.author %></h1>
  
  <h4>
    <%= @song.title %> 
  </h4>
   
  <% if !@song.url.nil? %>
    <p><a href="<%= @song.url %>"><%= @song.url %></a></p>
  <% end %>

  <div class="container">
    <% if !@songs_from_artist.empty? %>
      <h4>Other songs from this artist</h4>
        <% @songs_from_artist.each do |song| %>
          <p><%= song.title %></p>
          <% if !song.url.nil? %>
            <p><a href="<%= song.url %>"><%= song.url %></a></p>
          <% end %>
          <h6>Posted: <%= song.created_at %></h6>
        <% end %>
    <% end %>
  </div>

<div class="container">
  <hr/>
  <a href="/songs">Back to All Songs</a>
</div>